<table>
  <tr>
    <td> <span class="symbol"> <%= session[:board].board_arr[0] %> </span><sup>0</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[1] %> </span><sup>1</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[2] %> </span><sup>2</sup></td>
  </tr>
  <tr>
    <td> <span class="symbol"> <%= session[:board].board_arr[3] %> </span><sup>3</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[4] %> </span><sup>4</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[5] %> </span><sup>5</sup></td>
  </tr>
  <tr>
    <td> <span class="symbol"> <%= session[:board].board_arr[6] %> </span><sup>6</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[7] %> </span><sup>7</sup></td>
    <td> <span class="symbol"> <%= session[:board].board_arr[8] %> </span><sup>8</sup></td>
  </tr>
</table>